<% include ../partials/header %>


<div class="container">
    <div class="jumbotron" style="margin:auto;margin-top:30px; width: 80%">
        <h1 style="text-align: center">Add something</h1>
        <form action="/options" method="POST">
            
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" name="new[name]" >
            </div>
            
            <div class="form-group">
                <label for="short">Short</label>
                <input type="text" class="form-control" id="short" placeholder="Short" name="new[short]" >
            </div>
            
            <div class="form-group">
                <table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr>
						<th class="text-center">
							#
						</th>
						<th class="text-center"> Value </th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0'>
						<td>1</td>
						<td><input type="number" step="0.01" name='value[]'  placeholder='Enter Option Value' class="form-control"/></td>
					</tr>
                    <tr id='addr1'></tr>
				</tbody>
			</table>
            </div>
            
            <span id="add_row" class="btn btn-default pull-left">Add Row</span><span id='delete_row' class="pull-right btn btn-default">Delete Row</span>
            <input type="submit" class="btn btn-lg btn-primary btn-block">
       </form>
    </div>
     
</div>

<% include ../partials/footer %>

<script>
$(document).ready(function(){
      var i=1;
     $("#add_row").click(function(){b=i-1;
      $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
  });
     $("#delete_row").click(function(){
    	 if(i>1){
		 $("#addr"+(i-1)).html('');
		 i--;
		 }
	 });

});
</script>
