html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  width: 100%;
  height: 100%;
}
.row{
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#sidebar {
  text-align: center;
  max-width: 16.7%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  background: rgb(4, 7, 20);
  color: #fff;
  transition: all 0.3s;
}
.nav-item Link{
  color:#fff;
}

.mm-nav{
  padding: 0;
  /* width: 237px;
  height: 608px; */
  width: 100%;
  height: 100%;
  background-color: rgb(4, 7, 20);
}

#avatar{
  height:100px;
  width:auto;
}

MatchmakingNavbar{
  margin: 0;
  padding: 0;
}

body div{
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left:0px;
  /* height: 100%; */
}

.bar{
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: cadetblue;
}

.mm_options{
  padding: 0;
  width:100%;
  text-align: center;
  position: absolute; 
  bottom: 100px;
}

.chest-item{
  background-color: rgb(44, 47, 60);
  text-align: center;
  height: 320px;
  width: 300px;
  margin: 20px;
  color:white;
  border-radius: 20px;
}
.chest-item ul{
  text-align: left;
}
hr{
  color:white;
}

.col-9{
  padding-right: 0px;
  padding-left:0px;
}
.col-10{
  padding-right: 0px;
  padding-left:0px;
}
.col-3{
  padding-right: 0px;
  padding-left:0px;
  height: 100%;
  width: 100%;
}
.row{
  padding-right: 0px;
  padding-left:0px;
  margin-right: 0px;
  margin-left: 0px;
}
.gameMode{
  background-color: rgb(44, 47, 60);
  width: 100%;
  height: 100%;
  margin:0px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 60px;
  color:white;
  text-align: center;
}

.gameModeOptions button{
  display:inline-block;
  height:60px;
  width:100px;
  margin:50px;
  vertical-align: middle;
}
.gameModeOptions{
  height:200px;
}
.gameModeDesc p{
  margin:0px;
  padding: 0px;

}
.mode-picked{
  margin-top:30px;
  height:60px;
  width:120px;
}
.list-group{
  flex-direction: row;
  text-align: center;
}
.CardDeck{
  background-color: rgb(4, 7, 20);
  width:100%;
  height: 100%;
  color: white;
  text-align: center;
  width: 20.84%;
  height: 100%;
  position: fixed;

}
.card-item{
  height:255px;
  width:173px;
  margin: 1px;
  background-image: url("../src/menu/img/card.png");
  background-repeat: no-repeat;
  color:white;
  padding: 0;
}
.card-item-cost{
  display: inline-block;
  height: 24px;
  width:10px;
  position: relative;
  top:7px;
  left:20px;
  color:rgb(44, 47, 60);
}
.card-item-cost p{
  margin:0px;
}
.card-item-name{
  display: inline-block;
  height: 24px;
  width:106px;
  position: relative;
  top:7px;
  left:38px;
  color:rgb(44, 47, 60);
  text-align: center;
  max-lines: 1;
}

.card-item-race{
  height: 24px;
  width:142px;
  position: relative;
  top: 106px;
  left:15px;
  color:rgb(44, 47, 60);
  text-align: center;
  margin-bottom: 0px;
  margin-block-end: 0px;
}
.card-item-stats{
  height: 24px;
  width:142px;
  position: relative;
  top: 105px;
  left:15px;
  color:white;
}
.card-stats-damage{
  display: inline-block;
  margin-right: 30px;
  padding-left: 40px;
}
.card-stats-health{
  display: inline-block;
  margin-left: 43px;
}
.card-item-description{
  height: 64px;
  width:142px;
  position: relative;
  top:115px;
  left:15px;
  color:rgb(44, 47, 60);
  text-align: center;
  line-height: 18px;
}
.card-item-description p{
  margin:0px;
}

.card-item h4{
  padding-left: 5px;
  padding-right: 5px;
}

.btn-deck-create{
  background-color: white;
  color:rgb(44, 47, 60);
}
.DeckCreationPanel{
  position: absolute;
  left: 75px;
  top: 550px;
}
.DeckCreationPanel-creating{
  position: absolute;
  left: 55px;
  top: 570px;
}
.DeckList{
  padding-left: 5px;
  padding-right:5px;
}
.DeckItself{
  padding-top:15px;
  text-align: center;
  color:rgb(4, 7, 20);
}
.deckSlot{
  background-color: white;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
}

.card-name{
  padding-top:10px;
  
}
.mm-deckSlot{
  background-color: white;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
  color: rgb(44, 47, 60);
}

.mm-card-name{
  padding-top:10px;
  
}
.AuthFormWrapper{
  height:100%;
  background-color: rgb(4, 7, 20);
}

.AuthFormItself{
  background-color: white;
  height:58%;
  position: absolute;
  top: 120px;
  color: rgb(4, 7, 20);
  border-radius: 20px;
  padding-top:5px;
}

.AuthFormItself button{
  background-color: rgb(4, 7, 20);
  color:white;
}

.cancel-card{
  display: inline-block;
  background-color: red;
  color:white;
  height: 45px;
  width: 45px;
  flex-direction: row-reverse;
}
.CardListDeck{
  background-color: white;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
  padding-top:5px;
  color: rgb(4, 7, 20);
}
.mm-deckList{
  height: 100%;
}
.mm-deck-item{
  display: inline-block;
  height: 95%;
  width:30%;
  background-color: rgb(44, 47, 60);
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 1.25% 1.66%; 
}
.addCardToDeck{
  position: relative;
  top:-70px;
  left:30px;
}
.delete-deck-btn{
  display: none;
  position: absolute;
  right: 25px;
}
.CardListDeck h3{
  display: inline-block;
}
.CardListDeck:hover .delete-deck-btn {display: inline-block;}


/* UKRADZIONE W CHUJ */
.cards {
  bottom: 0;
  display: flex;
  height: 150px;
  padding: 0 50px;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}

.card {
  height: 150px;
  margin: 0 -25px;
  position: relative;
  width: 100px;
}
.card:after {
  bottom: 0;
  content: '';
  left: -60px;
  position: absolute;
  right: -60px;
  top: 0px;
  z-index: 10;
}

.card-face {
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform, 800ms cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
}
.card-face:after {
  -webkit-animation: none;
          animation: none;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.card-label {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.025em;
  padding: 15px 0 0 15px;
}

.card:nth-child(1) .card-face {
  background: linear-gradient(-135deg, #ff9999, #da0b0b);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
  -webkit-transform: translateY(45px) rotate(-28.125deg);
          transform: translateY(45px) rotate(-28.125deg);
}
.card:nth-child(1) .card-face .card-label {
  color: #db0000;
  text-shadow: -0.025em 0.025em 0 #ff8080;
}
.card:nth-child(1):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(1):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(1):hover:after {
  top: -175px;
}

.card:nth-child(2) .card-face {
  background: linear-gradient(-135deg, #ff99d6, #da0b87);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
  -webkit-transform: translateY(35px) rotate(-21.875deg);
          transform: translateY(35px) rotate(-21.875deg);
}
.card:nth-child(2) .card-face .card-label {
  color: #db0084;
  text-shadow: -0.025em 0.025em 0 #ff80cc;
}
.card:nth-child(2):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(2):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(2):hover:after {
  top: -175px;
}

.card:nth-child(3) .card-face {
  background: linear-gradient(-135deg, #eb99ff, #b10bda);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
  -webkit-transform: translateY(25px) rotate(-15.625deg);
          transform: translateY(25px) rotate(-15.625deg);
}
.card:nth-child(3) .card-face .card-label {
  color: #af00db;
  text-shadow: -0.025em 0.025em 0 #e680ff;
}
.card:nth-child(3):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(3):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(3):hover:after {
  top: -175px;
}

.card:nth-child(4) .card-face {
  background: linear-gradient(-135deg, #ad99ff, #350bda);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
  -webkit-transform: translateY(15px) rotate(-9.375deg);
          transform: translateY(15px) rotate(-9.375deg);
}
.card:nth-child(4) .card-face .card-label {
  color: #2c00db;
  text-shadow: -0.025em 0.025em 0 #9980ff;
}
.card:nth-child(4):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(4):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(4):hover:after {
  top: -175px;
}

.card:nth-child(5) .card-face {
  background: linear-gradient(-135deg, #99c2ff, #0b5eda);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
  -webkit-transform: translateY(5px) rotate(-3.125deg);
          transform: translateY(5px) rotate(-3.125deg);
}
.card:nth-child(5) .card-face .card-label {
  color: #0058db;
  text-shadow: -0.025em 0.025em 0 #80b3ff;
}
.card:nth-child(5):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(5):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(5):hover:after {
  top: -175px;
}

.card:nth-child(6) .card-face {
  background: linear-gradient(-135deg, #99ffff, #0bdada);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
  -webkit-transform: translateY(5px) rotate(3.125deg);
          transform: translateY(5px) rotate(3.125deg);
}
.card:nth-child(6) .card-face .card-label {
  color: #00dbdb;
  text-shadow: -0.025em 0.025em 0 #80ffff;
}
.card:nth-child(6):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(6):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(6):hover:after {
  top: -175px;
}

.card:nth-child(7) .card-face {
  background: linear-gradient(-135deg, #99ffc2, #0bda5e);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
  -webkit-transform: translateY(15px) rotate(9.375deg);
          transform: translateY(15px) rotate(9.375deg);
}
.card:nth-child(7) .card-face .card-label {
  color: #00db58;
  text-shadow: -0.025em 0.025em 0 #80ffb3;
}
.card:nth-child(7):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(7):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(7):hover:after {
  top: -175px;
}

.card:nth-child(8) .card-face {
  background: linear-gradient(-135deg, #adff99, #35da0b);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
  -webkit-transform: translateY(25px) rotate(15.625deg);
          transform: translateY(25px) rotate(15.625deg);
}
.card:nth-child(8) .card-face .card-label {
  color: #2cdb00;
  text-shadow: -0.025em 0.025em 0 #99ff80;
}
.card:nth-child(8):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(8):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(8):hover:after {
  top: -175px;
}

.card:nth-child(9) .card-face {
  background: linear-gradient(-135deg, #ebff99, #b1da0b);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
  -webkit-transform: translateY(35px) rotate(21.875deg);
          transform: translateY(35px) rotate(21.875deg);
}
.card:nth-child(9) .card-face .card-label {
  color: #afdb00;
  text-shadow: -0.025em 0.025em 0 #e6ff80;
}
.card:nth-child(9):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(9):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(9):hover:after {
  top: -175px;
}

.card:nth-child(10) .card-face {
  background: linear-gradient(-135deg, #ffd699, #da870b);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
  -webkit-transform: translateY(45px) rotate(28.125deg);
          transform: translateY(45px) rotate(28.125deg);
}
.card:nth-child(10) .card-face .card-label {
  color: #db8400;
  text-shadow: -0.025em 0.025em 0 #ffcc80;
}
.card:nth-child(10):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(10):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(10):hover:after {
  top: -175px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes fade {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
/* KONIEC UKRADZIONEGO W CHUJ */