.active-filter{
  border: 2px solid red;
}
html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Yeon Sung';
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  width: 100%;
  height: 100%;
}
.row{
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#sidebar {
  text-align: center;
  max-width: 16.7%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 996;
  background-image: url('./graphic/nav_background_03.png');
  background-size: contain;
  background-repeat: repeat-y;
  text-shadow: 2px 1px #303433;
  color: #fff;
  transition: all 0.3s;
}

.cursorTransform{
  cursor: pointer ;
}

#player-info-nav{
  z-index: 999;
  margin: auto;
  background-image: url('./graphic/nav_background_02.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 2px 1px #303433;
}
#player-info-nav p:nth-child(0){
  margin-block-start: 0;
  margin-block-end: 0;
}
#player-info-nav p:nth-child(1){
  margin-block-start: 0;
  margin-block-end: 1rem;
}
.main-menu{
  background-image: url('./graphic/background_03.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-item button{
  color:#fff;
  background-image: url('./graphic/button_02.png');
  background-size: cover;
  width: 70%;
  height: auto;
  background-repeat: no-repeat;
  border:none;
  font-size: 1.5rem;
  border-radius: 10px;
  line-height: 3rem;
}

.mm-nav{
  padding: 0;
  /* width: 237px;
  height: 608px; */
  background-image: url('./graphic/nav_background_03.png');
  background-repeat: repeat-y;
  background-size:contain;
  width:100%;
  height: 100%;
}
.mm-options{
  padding: 0;
  width:100%;
  text-align: center;
  position: relative; 
  top:26rem;
}
.mm-options button{
  margin: 1rem 0;
  background-image: url('./graphic/button_03.png');
  background-size: cover;
  width: 70%;
  height: 3.3rem;
  background-repeat: no-repeat;
  border:none;
  font-size: 1.4rem;
}
#avatar-holder{
  background-image: url('./graphic/border_img_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  width:5rem;
  height: 7.6rem;
  z-index: 905;
  margin: auto;
}

#avatar-holder-bg{
  background-image: url('./graphic/border_img_01_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width:5rem;
  height: 7.6rem;
  z-index: 900;
  margin: auto;
}

#avatar{
  height:80%;
  width:auto;
  z-index: 999;
  position: relative;
  top:1.9rem;
  left:0.3rem;
  background-image: url('./graphic/avatar_01.png');
  background-size:contain;
  background-repeat: no-repeat;
}

#usr_name{
  background-image: url('./graphic/title_01.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  height: 3rem;
  padding-top:0px;
  margin-block-end: 0;
  margin: 0px;

}

.btn-logout{
  background-image: url('./graphic/button_03.png');
  background-size: cover;
  width: 50%;
  height: auto;
  background-repeat: no-repeat;
  border:none;
  font-size: 1.5rem;
  border-radius: 10px;
  line-height: 2rem;
  color:white;
}
.currency-p{
  font-size: 1.1rem;
}

.nav-currency-gold{
  background-image: url('./graphic/icon_currency_gold.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.4rem;
  width:0.5rem;
  height: auto;
  margin-right: 1rem;
}
.nav-currency-gem{
  background-image: url('./graphic/icon_currency_gem.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.4rem;
  width:0.5rem;
  height: auto;
}

MatchmakingNavbar{
  margin: 0;
  padding: 0;
}

body div{
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left:0px;
  /* height: 100%; */
}

.bar{
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: cadetblue;
}



.chest-item{
  background-image: url("./graphic/background_04.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 30rem;
  width: 30%;
  margin: 4.5rem 1rem;
  color:white;
  border-radius: 20px;
  padding-top:1.5rem;
  z-index: 996;
  transition: all 0.3s;
}
.btn-buychest{
  background-image: url("./graphic/nav_background_02.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  border:none;
  color:white;
  font-size: 1rem;
  width:30%;
  height:7rem;
  padding-bottom: 2.2rem;
  margin-top:0.8rem;
  z-index: 999;
  background-color: transparent;
  cursor: pointer;
}
.chest-item p{
  margin-block-end:0;
}
.chest-item-img{
  background-image: url("./graphic/shop_chest_01.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  width:50%;
  height: 9.6rem;
  margin: 1rem auto;
}

.chest-item ul{
  text-align: left;
  padding-left: 5rem;
}

.chest-item-name{
  background-image: url("./graphic/title_02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: middle;
}

.shop-price-gold{
  background-image: url('./graphic/icon_currency_gold.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2rem;
  /* width:0.5rem;
  height: auto; */
  margin-right: 1rem;
  font-size: 1.6rem;
}

hr{
  color:white;
}

.col-9{
  padding-right: 0px;
  padding-left:0px;
}
.col-10{
  padding-right: 0px;
  padding-left:0px;
}
.col-1{
  padding-right: 0px;
  padding-left:0px;
}
.col-2{
  padding-right: 0px;
  padding-left:0px;
  height: 100%;
  width: 100%;
}
.col-3{
  padding-right: 0px;
  padding-left:0px;
}
.row{
  padding-right: 0px;
  padding-left:0px;
  margin-right: 0px;
  margin-left: 0px;
}
.gameMode{
  background-color: rgb(44, 47, 60);
  width: 100%;
  height: 100%;
  margin:0px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 60px;
  color:white;
  text-align: center;
}

.gameModeOptions button{
  display:inline-block;
  height:60px;
  width:100px;
  margin:50px;
  vertical-align: middle;
}
.gameModeOptions{
  height:200px;
}
.gameModeDesc p{
  margin:0px;
  padding: 0px;

}
.mode-picked{
  margin-top:30px;
  height:60px;
  width:120px;
}
.list-group{
  flex-direction: row;
  text-align: center;
}

.BookOfCards{
  background-image: url('./graphic/background_book_01.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  width:100%;
  height: 100%;
}

.race-filters{
  display: inline;
  padding-top:10rem;
}
.race-filter-icon{
  width: 3.5rem;
  cursor:pointer;
}
.race-filter-skavens{
  background-image: url('./graphic/race_filter_01.png');
  background-repeat: no-repeat;
  background-size:contain;
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}
.race-filter-order{
  background-image: url('./graphic/race_filter_03.png');
  background-repeat: no-repeat;
  background-size:contain;
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}
.race-filter-dwarfs{
  background-image: url('./graphic/race_filter_02.png');
  background-repeat: no-repeat;
  background-size:contain;
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}
.race-filter-forsaken{
  background-image: url('./graphic/race_filter_04.png');
  background-repeat: no-repeat;
  background-size:contain;
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 1rem;
}
.class-filters{
  padding-left:1rem;
  /* padding-top:1rem; */
  height: 1rem;
}
.class-filter{
  display: inline-block;
  background-image: url('./graphic/button_short_01.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  width:12%;
  height: auto;
  text-align: center;
  margin: 0 0.1rem;
}
.col-3-card-fixed{
  height: 16rem;
  padding-left: 0px;
  padding-right: 0px;
}
.cards-place{
  width: 90%;
  height: 80%;
  position: relative;
  /* margin: auto; */
  padding-left:5%;
  /* padding-right:6%; */
  padding-top:2.5rem;
  margin-right: 0px;
}
.CardNavbar{
  background-image: url('./graphic/nav_background_03.png');
  background-repeat: repeat-y;
  background-size:contain;
  width:100%;
  height: 100%;
  color: white;
  text-align: center;
  width: 20.84%;
  height: 100%;
  position: fixed;
}
.card-item{
  height:255px;
  width:173px;
  background-image: url("./graphic/card_front_01.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  color:white;
  padding: 0;
  position: relative;
  z-index: 2;

}
.card-item-bg{
  height:255px;
  width:173px;
  background-image: url("./graphic/card_background_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  color:white;
  padding: 0;
  position: relative;
  z-index: 0;
}
.card-item-portrait{
  background-image: url("./graphic/card_portrait_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  top:0;
  margin: 0 0.4rem;
  width: 93%;
  height:11rem;
  color:transparent;
  padding-left: 0.5rem;
  z-index: 1;
}
.card-item-cost{
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  width: 15%;
  /* top:0.4rem; */
  left:0.4rem;
  color: white;
  padding-left: 0.5rem;
}
.card-item-cost-skaven{
  background-image: url("./graphic/race_filter_01.png");
}
.card-item-cost-dwarf{
  background-image: url("./graphic/race_filter_02.png");
}
.card-item-cost-forsaken{
  background-image: url("./graphic/race_filter_04.png");
}
.card-item-cost-theorder{
  background-image: url("./graphic/race_filter_03.png");
}
.card-title p{
  display: inline;
  margin-left: 1rem; 
}
.card-title{
  background-image: url("./graphic/title_03.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  top:0.3rem;
  width: 94%;
  margin-right: 0.2rem;
  margin-left:0.3rem;
  color: rgb(44, 47, 60);
}
.card-item-race-icon{
  background-image: url("./graphic/icon_race_skaven.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  width: 40%;
  top:0.4rem;
  left:1.2rem;
  color:transparent;
  padding-left: 0.5rem;
}
.card-item-class-icon{
  background-image: url("./graphic/icon_class_assassin.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: relative;
  width: 20%;
  top:0.5rem;
  left:1.2rem;
  color:transparent;
  padding-left: 0.5rem;
}


.card-item-cost p{
  margin:0px;
}
.card-item-name{
  display: inline-block;
  height: 24px;
  width:106px;
  position: relative;
  top:7.9rem;
  left:38px;
  color:rgb(44, 47, 60);
  text-align: center;
  max-lines: 1;
}

.card-item-race{
  height: 24px;
  width:142px;
  position: relative;
  top: 106px;
  left:15px;
  color:rgb(44, 47, 60);
  text-align: center;
  margin-bottom: 0px;
  margin-block-end: 0px;
}
.card-item-stats{
  height: 24px;
  width:142px;
  position: relative;
  top: 105px;
  left:15px;
  color:transparent;
}
.card-stats-damage{
  display: inline-block;
  margin-right: 30px;
  padding-left: 40px;
}
.card-stats-health{
  display: inline-block;
  margin-left: 43px;
}
.card-item-description{
  height: 64px;
  width:142px;
  position: relative;
  top:6.6rem;
  left:15px;
  color:white;
  text-align: center;
  line-height: 18px;
}
.card-item-description p{
  margin:0px;
}

.card-item h4{
  padding-left: 5px;
  padding-right: 5px;
}

.btn-deck-create{
  background-image: url('./graphic/button_04.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  color:white;
  border-radius: 10px;
  font-size: 1.2rem;
  width:5.3em;
  height: 2.5rem;
}
.btn-deck-create2{
  background-image: url('./graphic/button_04.png');
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  color:white;
  border-radius: 10px;
  font-size: 1.2rem;
  height:3.6rem;

}
.cards-navbar-wrapper{
  height: 100%;
}
.cards-navbar-header-wrapper{
  height: 90%;
}

.DeckCreationPanel{
  position: relative;
  bottom: 1rem;
  text-align: center;
  width: 100%;
  margin: auto;
}
.DeckCreationPanel-creating{
  width: 100%;
  position: absolute;
  top: 560px;
}
.DeckList{
  padding-right: 0.2rem;
  width: 100%;
}
.DeckList p{
  padding: 0 2rem;
  width: 100%;
}
.CardsDecksHeader{
  width: 80%;
  background-image: url('./graphic/button_03.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 4.70rem;
  font-size:1.5rem;
  padding-top: 1rem;
  /* padding-right: 2rem; */
  margin: auto;
}

.CardsDecksHeader p{
  margin-block-end:0;
  text-align: center;
}
.DeckItself{
  padding-top:15px;
  text-align: center;
  color:rgb(4, 7, 20);
}
.deckSlot{
  background-color: white;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
}

.card-name{
  padding-top:10px;
  
}
.mm-deckSlot{
  background-image: url('./graphic/title_03.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
  color: white;
}
.mm-deck-name{
  background-image: url('./graphic/title_03.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
}

.mm-card-name{
  padding-top:10px;  
}
.AuthFormWrapper{
  height:100%;
  background-image: url('./graphic/background_02.PNG');
  background-size: cover;
  background-repeat: no-repeat;
}

.AuthFormItself{
  background-image: url('./graphic/background_01.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:65%;
  position: relative;
  top: 7rem;
  color: white;
  text-shadow: 2px 1px #303433;
  border-radius: 20px;
  padding-top:20px;
  padding-left: 0px;
  padding-right:0px;
  text-align: center;
}

.AuthFormItself input{
  background-image: url('./graphic/form_input_03.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: auto;
  border: none;
  color: white;
  font-size: 1.7em;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  text-shadow: 2px 1px #303433;
}

.AuthFormItself label{
  font-size: 1.4rem;
}

.form-control-auth{
  display: block;
  margin: auto;
}
.auth-form-middle{
  margin:0 0.6rem;
}

.AuthFormItself button{
  background-image: url('./graphic/button_long_01.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  font-size: 2rem;
  width:80%;
  height: auto;
  border: none;
  color:white;
  margin-top:0.3rem;
  text-shadow: 2px 1px #303433;
}
.auth-additional-margin{
  margin-top:2.2rem !important;
}

.authform-link-login{
  background-image: url('./graphic/button_long_01.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  font-size: 1.3rem;
  margin:1.9rem auto;

}
.authform-link-login p{
  margin-bottom: 0px;
}

.authform-link-register{
  background-image: url('./graphic/button_long_02.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  font-size: 1.3rem;
  margin:0.2rem auto;
}

.cancel-card{
  display: inline-block;
  background-color: red;
  color:white;
  height: 45px;
  width: 45px;
  flex-direction: row-reverse;
}
.CardListDeck{
  background-image: url('./graphic/button_long_03.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:3rem;
  width: 80%;
  
  border-radius: 5px;
  color: white
}
.CardListDeck p{
  display: inline-block;
  font-size: 2rem;
  margin-block-end: 0;
  padding: 0;
  width: 80%;
}

.mm-deckList{
  height: 100%;
}
.mm-deck-item{
  display: inline-block;
  height: 95%;
  width:30%;
  background-image: url('./graphic/nav_background_01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 1.25% 1.66%; 
  padding-top:10px;
}
.addCardToDeck{
  position: relative;
  top:2.8rem;
  left:2.35rem;
}
.delete-deck-btn{
  display: none;
  position: relative;
  left:0.1rem;
  background-image: url('./graphic/button_X.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  color:transparent;
  cursor: pointer;
  border: none;

}

.CardListDeck:hover .delete-deck-btn {display: inline-block;}





/* UKRADZIONE W CHUJ */
.cards {
  bottom: 0;
  display: flex;
  height: 150px;
  padding: 0 50px;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}

.card {
  height: 150px;
  margin: 0 -25px;
  position: relative;
  width: 100px;
  border-radius: 0;
}
.card-back-bg{
  width: 100%;
  height: 100%;
  background-image: url("./graphic/card_background_01.png");
  background-repeat: no-repeat;
  background-size: contain;
  color:white;
  padding: 0;
  position: relative;
  z-index: 0;
}
.card:after {
  bottom: 0;
  content: '';
  left: -60px;
  position: absolute;
  right: -60px;
  top: 0px;
  z-index: 10;
}

.card-face{
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform, 800ms cubic-bezier(0.19, 1, 0.22, 1) -webkit-transform;
}
.card-face-img{
  width: 100%;
  height: 100%;
  background-image: url("./graphic/card_front_01.png") !important;
  background-repeat: no-repeat;
  background-size: contain ;
  color:white;
  padding: 0;
}
.card-face:after {
  -webkit-animation: none;
          animation: none;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.card-label {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.025em;
  padding: 15px 0 0 15px;
}

.card:nth-child(1) .card-face {
  /* background: linear-gradient(-135deg, #ff9999, #da0b0b); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
  -webkit-transform: translateY(45px) rotate(-28.125deg);
          transform: translateY(45px) rotate(-28.125deg);
}

.card:nth-child(1):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(1):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(1):hover:after {
  top: -175px;
}

.card:nth-child(2) .card-face {
  /* background: linear-gradient(-135deg, #ff99d6, #da0b87); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
  -webkit-transform: translateY(35px) rotate(-21.875deg);
          transform: translateY(35px) rotate(-21.875deg);
}

.card:nth-child(2):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 153, 214, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(2):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(2):hover:after {
  top: -175px;
}

.card:nth-child(3) .card-face {
  /* background: linear-gradient(-135deg, #eb99ff, #b10bda); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
  -webkit-transform: translateY(25px) rotate(-15.625deg);
          transform: translateY(25px) rotate(-15.625deg);
}
.card:nth-child(3):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 153, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(3):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(3):hover:after {
  top: -175px;
}

.card:nth-child(4) .card-face {
  /* background: linear-gradient(-135deg, #ad99ff, #350bda); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
  -webkit-transform: translateY(15px) rotate(-9.375deg);
          transform: translateY(15px) rotate(-9.375deg);
}
.card:nth-child(4):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 153, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(4):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(4):hover:after {
  top: -175px;
}

.card:nth-child(5) .card-face {
  /* background: linear-gradient(-135deg, #99c2ff, #0b5eda); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
  -webkit-transform: translateY(5px) rotate(-3.125deg);
          transform: translateY(5px) rotate(-3.125deg);
}

.card:nth-child(5):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 194, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(5):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(5):hover:after {
  top: -175px;
}

.card:nth-child(6) .card-face {
  /* background: linear-gradient(-135deg, #99ffff, #0bdada); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
  -webkit-transform: translateY(5px) rotate(3.125deg);
          transform: translateY(5px) rotate(3.125deg);
}

.card:nth-child(6):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 255, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(6):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(6):hover:after {
  top: -175px;
}

.card:nth-child(7) .card-face {
  /* background: linear-gradient(-135deg, #99ffc2, #0bda5e); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
  -webkit-transform: translateY(15px) rotate(9.375deg);
          transform: translateY(15px) rotate(9.375deg);
}

.card:nth-child(7):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(153, 255, 194, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(7):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(7):hover:after {
  top: -175px;
}

.card:nth-child(8) .card-face {
  /* background: linear-gradient(-135deg, #adff99, #35da0b); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
  -webkit-transform: translateY(25px) rotate(15.625deg);
          transform: translateY(25px) rotate(15.625deg);
}

.card:nth-child(8):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(173, 255, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(8):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(8):hover:after {
  top: -175px;
}

.card:nth-child(9) .card-face {
  /* background: linear-gradient(-135deg, #ebff99, #b1da0b); */
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
  -webkit-transform: translateY(35px) rotate(21.875deg);
          transform: translateY(35px) rotate(21.875deg);
}
.card:nth-child(9):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(235, 255, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(9):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(9):hover:after {
  top: -175px;
}

.card:nth-child(10) .card-face {

  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
  -webkit-transform: translateY(45px) rotate(28.125deg);
          transform: translateY(45px) rotate(28.125deg);
}

.card:nth-child(10):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(255, 214, 153, 0.75);
  -webkit-transform: translateY(-100px) rotate(0deg) scale(2);
          transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 0ms;
  z-index: 5;
}
.card:nth-child(10):hover .card-face:after {
  -webkit-animation: fade 250ms ease-out forwards;
          animation: fade 250ms ease-out forwards;
}
.card:nth-child(10):hover:after {
  top: -175px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.card{
  background: transparent;
  border: none;
}

@keyframes fade {
  0% {
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
/* KONIEC UKRADZIONEGO W CHUJ */

.Hand{
  position: absolute;
  top:475px;
  height: 150px;
  width: 100%;
}

.Board{
  display: inline-block;
  position: relative;
  
  top:150px;
  height: 325px;
  width: 60%;
  border: 1px solid red
}

.PlayerBoard{
  /* height: 50%;
  text-align: center;
  background-color: cadetblue */
}
.EnemyBoard{
  height: 50%;
  text-align: center;
  background-color: lightcoral
}
.PlayerBoardCard{
  display: inline-block;
  height: 161.6px;
  width: 109.5px;
  border: 1.5px solid blue;
  margin: 0 5%;
  
}
.EnemyBoardCard{
  display: inline-block;
  height: 161.6px;
  width: 109.5px;
  border: 1.5px solid purple;
  margin: 0 5%;
  
}
.PlayerInfoContainer{
  border: 1.5px solid green;
  width: 20%;
  display: inline-block;
  height: 325px;
}
.DeckContainer{
  width:20%;
  display: inline-block;
  border: 1.5px solid yellow;
  height: 325px;
}