html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  width: 100%;
  height: 100%;
}
.row{
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#sidebar {
  text-align: center;
  max-width: 25%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  background: rgb(4, 7, 20);
  color: #fff;
  transition: all 0.3s;
}
.nav-item Link{
  color:#fff;
}

.mm-nav{
  padding: 0;
  width: 237px;
  height: 608px;
  background-color: rgb(4, 7, 20);
}

#avatar{
  height:100px;
  width:auto;
}

MatchmakingNavbar{
  margin: 0;
  padding: 0;
}

body div{
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left:0px;
  /* height: 100%; */
}

.bar{
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: cadetblue;
}

.mm_options{
  padding: 0;
  width:100%;
  text-align: center;
  position: absolute; 
  bottom: 100px;
}

.chest-item{
  background-color: gray;
  text-align: center;
  height: 200px;
}

.col-9{
  padding-right: 0px;
  padding-left:0px;
}
.col-3{
  padding-right: 0px;
  padding-left:0px;
  height: 100%;
  width: 100%;
}
.row{
  padding-right: 0px;
  padding-left:0px;
  margin-right: 0px;
  margin-left: 0px;
}
.gameMode{
  background-color: rgb(44, 47, 60);
  width: 100%;
  height: 100%;
  margin:0px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 60px;
  color:white;
  text-align: center;
  
}

.gameModeOptions button{
  display:inline-block;
  height:60px;
  width:100px;
  margin:50px;
  vertical-align: middle;
}
.gameModeOptions{
  height:200px;
}
.gameModeDesc{
  /* padding: 100px;
  display: block; */
}
.gameModeDesc p{
  margin:0px;
  padding: 0px;

}
.mode-picked{
  margin-top:30px;
  height:60px;
  width:120px;
}
.list-group{
  flex-direction: row;
  text-align: center;
}
.CardDeck{
  background-color: rgb(4, 7, 20);
  width:100%;
  height: 100%;
  color: white;
  text-align: center;
}
.card-item{
  height:200px;
  width:75px;
  margin: 1px;
  background-color: red;
  border: 1px solid black;
}