html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  width: 100%;
  height: 100%;
}
.row{
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#sidebar {
  text-align: center;
  max-width: 16.7%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  background: rgb(4, 7, 20);
  color: #fff;
  transition: all 0.3s;
}
.nav-item Link{
  color:#fff;
}

.mm-nav{
  padding: 0;
  /* width: 237px;
  height: 608px; */
  width: 100%;
  height: 100%;
  background-color: rgb(4, 7, 20);
}

#avatar{
  height:100px;
  width:auto;
}

MatchmakingNavbar{
  margin: 0;
  padding: 0;
}

body div{
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left:0px;
  /* height: 100%; */
}

.bar{
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: cadetblue;
}

.mm_options{
  padding: 0;
  width:100%;
  text-align: center;
  position: absolute; 
  bottom: 100px;
}

.chest-item{
  background-color: rgb(44, 47, 60);
  text-align: center;
  height: 320px;
  width: 300px;
  margin: 20px;
  color:white;
  border-radius: 20px;
}
.chest-item ul{
  text-align: left;
}
hr{
  color:white;
}

.col-9{
  padding-right: 0px;
  padding-left:0px;
}
.col-10{
  padding-right: 0px;
  padding-left:0px;
}
.col-3{
  padding-right: 0px;
  padding-left:0px;
  height: 100%;
  width: 100%;
}
.row{
  padding-right: 0px;
  padding-left:0px;
  margin-right: 0px;
  margin-left: 0px;
}
.gameMode{
  background-color: rgb(44, 47, 60);
  width: 100%;
  height: 100%;
  margin:0px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 60px;
  color:white;
  text-align: center;
}

.gameModeOptions button{
  display:inline-block;
  height:60px;
  width:100px;
  margin:50px;
  vertical-align: middle;
}
.gameModeOptions{
  height:200px;
}
.gameModeDesc p{
  margin:0px;
  padding: 0px;

}
.mode-picked{
  margin-top:30px;
  height:60px;
  width:120px;
}
.list-group{
  flex-direction: row;
  text-align: center;
}
.CardDeck{
  background-color: rgb(4, 7, 20);
  width:100%;
  height: 100%;
  color: white;
  text-align: center;
  width: 20.84%;
  height: 100%;
  position: fixed;

}
.card-item{
  height:255px;
  width:173px;
  margin: 1px;
  background-image: url("../src/menu/img/card.png");
  background-repeat: no-repeat;
  color:white;
  padding: 0;
}
.card-item-cost{
  display: inline-block;
  height: 24px;
  width:10px;
  position: relative;
  top:7px;
  left:20px;
  color:rgb(44, 47, 60);
}
.card-item-cost p{
  margin:0px;
}
.card-item-name{
  display: inline-block;
  height: 24px;
  width:106px;
  position: relative;
  top:7px;
  left:38px;
  color:rgb(44, 47, 60);
  text-align: center;
  max-lines: 1;
}

.card-item-race{
  height: 24px;
  width:142px;
  position: relative;
  top: 106px;
  left:15px;
  color:rgb(44, 47, 60);
  text-align: center;
  margin-bottom: 0px;
  margin-block-end: 0px;
}
.card-item-stats{
  height: 24px;
  width:142px;
  position: relative;
  top: 105px;
  left:15px;
  color:white;
}
.card-stats-damage{
  display: inline-block;
  margin-right: 30px;
  padding-left: 40px;
}
.card-stats-health{
  display: inline-block;
  margin-left: 43px;
}
.card-item-description{
  height: 64px;
  width:142px;
  position: relative;
  top:115px;
  left:15px;
  color:rgb(44, 47, 60);
  text-align: center;
  line-height: 18px;
}
.card-item-description p{
  margin:0px;
}

.card-item h4{
  padding-left: 5px;
  padding-right: 5px;
}

.btn-deck-create{
  background-color: white;
  color:rgb(44, 47, 60);
}
.DeckCreationPanel{
  position: absolute;
  left: 75px;
  top: 550px;
}
.DeckCreationPanel-creating{
  position: absolute;
  left: 55px;
  top: 570px;
}
.DeckList{
  padding-left: 5px;
  padding-right:5px;
}
.DeckItself{
  padding-top:15px;
  text-align: center;
  color:rgb(4, 7, 20);
}
.deckSlot{
  background-color: white;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
}

.card-name{
  padding-top:10px;
  
}
.mm-deckSlot{
  background-color: white;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
  color: rgb(44, 47, 60);
}

.mm-card-name{
  padding-top:10px;
  
}
.AuthFormWrapper{
  height:100%;
  background-color: rgb(4, 7, 20);
}

.AuthFormItself{
  background-color: white;
  height:58%;
  position: absolute;
  top: 120px;
  color: rgb(4, 7, 20);
  border-radius: 20px;
  padding-top:5px;
}

.AuthFormItself button{
  background-color: rgb(4, 7, 20);
  color:white;
}

.cancel-card{
  display: inline-block;
  background-color: red;
  color:white;
  height: 45px;
  width: 45px;
  flex-direction: row-reverse;
}
.CardListDeck{
  background-color: white;
  margin:0px 10px;
  margin-top: 5px;
  widows: 100%;
  height:45px;
  border-radius: 5px;
  padding-top:5px;
  color: rgb(4, 7, 20);
}
.mm-deckList{
  height: 100%;
}
.mm-deck-item{
  display: inline-block;
  height: 95%;
  width:30%;
  background-color: rgb(44, 47, 60);
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 1.25% 1.66%; 
}
.addCardToDeck{
  position: relative;
  top:-70px;
  left:30px;
}
.delete-deck-btn{
  display: none;
  position: absolute;
  right: 25px;
}
.CardListDeck h3{
  display: inline-block;
}
.CardListDeck:hover .delete-deck-btn {display: inline-block;}